<div id="body">
    <div id="frame">
        <h1>Register</h1> 
        <input type="email" class="" placeholder="Email address" (input)="isvalid_email($event)" />
        <input type="text" class="" placeholder="Username"  (input)="isvalid_username($event)"/>
        <input type="password" class="" placeholder="Password" (input)="isvalid_password($event)"/>
        <input type="password" class="" placeholder="Confirm password" (input)="isvalid_confirmpassword($event)"/>
        <button (click)="submit()">Submit</button>
        <a href="/login">Login instead</a>
    </div>
</div>