<header id="header">
    <section id="header-1">
        <img src="logo.png"/>
        <p id="header-1-title">Virtual writing</p>
    </section>
    <section id="header-2">
        <a class="header-2-urls" href="/login">Login</a>
        <a class="header-2-urls" href="/register">Register</a>
    </section>
</header>
<div class="page" id="land">
    <section id="land-left">
        <h1 id="land-left-title">
            A new home for creative writers
        </h1>
    </section>
    <section id="land-right">
        <div id="ilustration">
            <article id="ilustration-par">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Beatae, in? Reiciendis rem accusamus est perferendis numquam, facilis eum quis sapiente quasi maiores assumenda cum. Sapiente labore dicta placeat earum impedit. Nulla consectetur turpis quis tincidunt ullamcorper. Ut sit amet consequat ligula, nec vehicula enim. Fusce bibendum imperdiet nibh. Integer mattis erat sed mauris imperdiet, id ornare nisi commodo. Aliquam pharetra dictum ligula sit amet posuere.
            </article>
        </div>
    </section>
</div>